* {
    margin: 0;
    padding: 0;
}

#root {
    width: 1300px;
    height: 800px;

    display: flex;
}

#road-width, #road-length {
    position: absolute;

    background-image: url("https://github.com/leejunho0622/baram/blob/develop/baram/road_1x1.png?raw=true");
    z-index: 0;
}

#road-width {
    top: 400px;

    width: 700px;
    height: 50px;
}

#road-length {
    left: 400px;

    width: 50px;
    height: 700px;
}

#grass {
    width: 700px;
    height: 700px;
    background-image: url("https://github.com/leejunho0622/baram/blob/develop/baram/road_grass_1x1.png?raw=true");
    border: solid 5px brown;
}

#screen {
    width: 500px;
    height: 700px;
    border-right: solid 5px brown;
    border-top: solid 5px brown;
    border-bottom: solid 5px brown;
}

#screen div {
    margin: 20px;
    border: solid 1px black;
}

#title {
    height: 40px;
}

#title h2 {
    margin-top: 4px;
    text-align: center;
}

#status {
    height: 450px;
}

#bottom {
    height: 120px;
}

#stone {
    position: absolute;

    top: 350px;
    left: 250px;

    width: 100px;
    height: 50px;
    background-image: url("https://github.com/leejunho0622/baram/blob/develop/baram/road_stone_1x1.png?raw=true");
}

#mantis, #scorpion, #rabbit, #npc1, #npc2, #portal {
    position: absolute;
    z-index: 1;
}

#player {
    position: absolute;
    z-index: 2;
}

#player , #player img {
    left: 375px;
    top: 350px;

    width: 100px;
    height: 100px;
}

#mantis, #mantis img {
    top: 100px;
    left: 525px;

    width: 150px;
    height: 150px;
}

#scorpion, #scorpion img {
    top: 50px;
    left: 75px;

    width: 150px;
    height: 150px;
}

#rabbit, #rabbit img {
    top: 500px;
    left: 175px;

    width: 60px;
    height: 100px;
}

#npc1, #npc1 img {
    top: 300px;
    left: 225px;

    width: 100px;
    height: 100px;
}

#npc2, #npc2 img {
    top: 300px;
    left: 275px;

    width: 100px;
    height: 100px;
}

#portal, #portal img {
    left: 358px;
    top: 0px;

    width: 100px;
    height: 100px;
}